
* {
	text-align: center;
}

@font-face {
	font-family: "UntoldHistory";
	src: url("../Fuentes/Untold_History.ttf") format("opentype");
}

@font-face {
	font-family: "BelanosimaSemiBold";
	src: url("../Fuentes/Belanosima_SemiBold.ttf") format("opentype");
}

div .sostenidas, div .notas-blancas {
	margin-top: 1rem;
	padding: 2rem;
	width: 1rem;
	border-radius: 1rem;
}

div div {
	display: inline-block;
	margin: 2px;
}

h1 {
	font-size: 3rem;
	margin: 4rem;
	font-family: "BelanosimaSemiBold";	
}

span {
	color: #5D6D7E;
}

button {
	border-radius: 1rem;
	border: none;
	float: right;
	position: relative;
	bottom: 110px;
	right: 100px;
	cursor: pointer;
	background-color: whitesmoke;
}

button img {
	max-width: 30px;
}

div .sostenidas {
	background: black;
	color: white;
}

div .sostenidas:hover {
	cursor: pointer;
	background: white;
	color: black;
}

div .notas-blancas {
	background: white;
	color: black;
}

div .notas-blancas:hover {
	cursor: pointer;
	background: black;
	color: white;
}

h5 {
	font-family: "UntoldHistory";
}