<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Piano Digital</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
</head>
<body>
	<main>
		<h1><span>Piano</span> Digital</h1>
		<button id="boton-color">
			<img src="{{ url_for('static', filename='IMG/Icono_Color.png') }}" alt="Icono para cambiar color">
		</button>
		
		<div id="contenedor"></div>
	</main>
	<script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>